
<h1> New post </h1>


<%= form_with model :@post do | form| %>
    <p>
    <%= form.label %>
    <%= form.text_fiel %>

    <%= form.description %>
    <%= form.text_area %>

    </p>
    <p>
    <% form.submit %>
    </p>
    <%end %>
<%= link_to "Back", posts_path %>
